<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-custom bg-image bg-center bg-cover bg-no-repeat h-screen">

    <nav class="navbar flex justify-between items-center  px-10 py-6 text-white">

        <p class="font-bold text-3xl cursor-pointer"><a href="/">Logo</a></p>

        {% if messages %}
        {% for message in messages %}

        <h3 class="{% if message.tags %}{{message.tags}}{% endif %} flex gap-2 items-center justify-center border-white border-2 font-semibold cursor-pointer px-4 py-1 rounded-md transition-all duration-300 hover:bg-white hover:text-black"> {{message}} <span class="cross">&times;</span></h3>

        {% endfor %}
        {% endif %}
       

        <div class="buttons flex justify-end items-center gap-5">
            {% if user.is_authenticated %}
            <button class="btn border-white border-2 px-4 py-1 rounded-md transition-all duration-300 hover:bg-white hover:text-black"><a class="font-semibold" href="/signout">Sign Out</a></button>
            {% else %}

            <button class="btn border-white border-2 px-4 py-1 rounded-md transition-all duration-300 hover:bg-white hover:text-black"><a class="font-semibold" href="/signin">Sign In</a></button>
            <button class="btn border-white border-2 px-4 py-1 rounded-md transition-all duration-300 hover:bg-white hover:text-black"><a class="font-semibold" href="/signup">Sign Up</a></button>
            
            {% endif %}
        </div>
    </nav>
    

    <div class="container w-2/3 h-1/3 flex flex-col justify-center items-center gap-3 m-auto mt-20 border-[rgba(255,255,255,.5)] border-2 rounded-lg backdrop-blur-lg">

        <h1 class="text-center text-4xl font-bold">Welcome To Our App</h1>
        {% if user.is_authenticated %}
        
        <h1 class="text-center text-2xl font-semibold">Only authenticated users have access to this text</h1>
        {% endif %}

    </div>

    <script src="{% static 'homescript.js' %}"></script>

</body>
</html>